<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
     <%- include('./partials/nav.ejs') %>
     
     <div class="container my-3">
     
      <% Blogs.forEach((blog) => { %>

  <div class="card" style="width: 18rem;">
  <img src="<%= blog.coverImage %>" class="card-img-top" alt="Blogs Image">
  <div class="card-body">
    <h5 class="card-title"><%= blog.title %></h5>
    <p class="card-text"><%= blog.body %> </p>
    <a href="/blog/<%= blog._id%>" class="btn btn-primary">See Blogs</a>
  </div>
</div>
       
      <% }) %>

     
    <%- include('./partials/script.ejs') %>
  </body>
</html>
